ion-title {
  font-family: 'Quicksand', sans-serif;
}
h4 {
  padding: 0px 20px; 
  font-family: 'Quicksand', sans-serif;
}
#updateChart{
  margin: 40px 20px;
  font-size: 1.1em;
  font-family: 'Quicksand', sans-serif;
}