ion-title {
  font-family: 'Quicksand', sans-serif;
}
h4 {
  padding: 0px 20px; 
  font-family: 'Quicksand', sans-serif;
}
#category_icon{
  padding-right: 10px;
  width: 45px;
  height: 35px;
}
ion-item {
  text-transform: capitalize;
}
footer{
  height: 75px;
  width: 100%;
}